#quote-card {
    padding: 15px;
    transition: .2s ease-out;
}

#quote-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#quote-card-text {
    width: 25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}